@import '../node_modules/@neos21/neos-normalize/neos-normalize.css';


// Globals : Blocks
// ====================================================================================================

h2 {
  margin-top: 0;
}

p,
form,
table {
  margin: 0 0 1rem;
}

input,
button {
  font-size: 16px;
}


// Globals : Inlines
// ====================================================================================================

button:disabled {
  cursor: default;
}


// Globals : Others
// ====================================================================================================

[hidden] {
  display: none !important;
}


// Utilities
// ====================================================================================================

.text-info    { color: var(--nn-colour-cyan)  ; font-weight: bold; }
.text-warning { color: var(--nn-colour-yellow); font-weight: bold; }
.text-danger  { color: var(--nn-colour-red)   ; font-weight: bold; }

.text-right { text-align: right; }
.text-bold  { font-weight: bold; }

// 横スクロールを出す
.table-wrapper {  // div・form
  overflow-x: auto;
  margin: 0 0 1rem;
  
  table {
    margin: 0;
  }
}

// フォーム用テーブル
table.form-table {
  width: 100%;
  
  th {
    padding-right: 0;
    padding-left: 0;
    background: #f0f9ff;
  }
  
  td {
    padding: 0;
    text-align: center;
    line-height: 1;  // 余白を消すために指定する
    vertical-align: middle;
    white-space: nowrap;
  }
  
  input[type="text"] {
    width: 100%;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 1px .3rem;
    color: var(--nn-colour-black);
    
    &::placeholder {
      color: var(--nn-colour-grey-600);
    }
    
    // 通常時の罫線色は td の --nn-colour-grey-400
    &:hover {
      outline: 1px solid var(--nn-colour-grey-900);
    }
    
    // フォーカス時は青色
    &:focus {
      position: relative;
      color: var(--nn-colour-black) !important;
      outline: 1px solid var(--nn-colour-blue) !important;
    }
    
    // バリデーションエラー時は赤色
    &.ng-invalid.ng-dirty,
    &.ng-invalid.ng-touched {
      position: relative;  // 隣接セルの outline と重なり順を優先させる
      color: var(--nn-colour-red);
      outline: 1px solid var(--nn-colour-red) !important;
    }
    
    // バリデーション OK 時は緑色
    &.ng-valid.ng-dirty {
      outline: 1px solid var(--nn-colour-green);
    }
    
    // 更新フォームはカーソルがイチイチ変わらないようにする
    tr.edit-row > td > & {
      cursor: default;
      
      &:focus {
        cursor: text;
      }
    }
  }
  
  // input[type="text"] と高さを合わせる
  button {
    padding: 0 .5rem;
  }
}

// 2列を両端揃えにする
.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

// 3列を両端揃えにする
.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}
