td {
  padding: 0;
  text-align: center;
  line-height: 1;  // 余白を消すために指定する
  vertical-align: middle;
}

input[type="text"] {
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 1px .3rem;
  
  // 通常時は td の罫線色 --nn-colour-grey-400
  &:hover { outline: 1px solid var(--nn-colour-grey-500); }
  &:focus { outline: 1px solid var(--nn-colour-grey-900); position: relative; }
  
  // 登録フォーム : 更新フォームより少し濃い目の罫線にする
  .new-form &:hover { outline-color: var(--nn-colour-grey-700); }
  
  // 更新フォーム
  :not(.new-form) & {
    cursor: default;
    
    &:focus {
      cursor: text;
    }
  }
  
  
  // バリデーションエラー時
  &.ng-invalid.ng-dirty,
  &.ng-invalid.ng-touched {
    position: relative;  // 隣接セルの outline と重なり順を優先させる
    color: var(--nn-colour-red);
    outline: 1px solid var(--nn-colour-red) !important;
    
    &::placeholder {
      color: var(--nn-colour-red);
    }
  }
}

button {
  padding: 0 .5rem;
}