.header {
  align-items: center;
  margin: 0;
  padding: 1rem;
  line-height: 1;
  white-space: nowrap;
  background: var(--nn-colour-blue);
  
  h1 {
    margin: 0;
  }
  
  div {
    font-size: .9rem;
  }
  
  a {
    color: var(--nn-colour-white);
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.main {
  margin: 1rem;
}
