.header {
  column-gap: .5rem;
  align-items: center;  // 垂直中央
  margin: 0;
  padding: .25rem 1rem;
  background: var(--nn-colour-blue);
  
  h1 {
    margin: 0;
    color: var(--nn-colour-white);
  }
}

.main {
  margin: 1rem;
}
