p {
  margin-top: 1rem;
}

table {
  width: 100%;
  
  th {
    white-space: nowrap;
  }
  
  .column-published-year {
    min-width: 4.5rem;
    width: 1%;
    max-width: 4.5rem;
    text-align: center;
    white-space: nowrap;
  }
  
  .column-title {
    min-width: 13rem;
    width: 15%;
  }
  
  .column-scenario,
  .column-review {
    min-width: 12rem;
    width: 25%;
  }
  
  .column-casts,
  .column-staffs {
    min-width: 5.5rem;
    width: 10%;
  }
  
  .column-tags {
    min-width: 3.5rem;
    width: 9%;
  }
  
  td {
    word-break: break-all;
    line-height: 1.2;
  }
  
  // データ行のスタイル
  td.column-title {
    line-height: 1.3;
    
    .japanese-title {
      color: var(--nn-colour-grey-700);
      font-size: .85rem;
    }
  }
  
  td.column-scenario,
  td.column-review,
  td.column-casts,
  td.column-staffs,
  td.column-tags {
    padding: .2rem .25rem;
    font-size: .8rem;
  }
  
  .role {
    color: var(--nn-colour-grey-600);
  }
  
  .not-found {
    padding: 1rem .5rem;
    text-align: center;
  }
}