p {
  margin-top: 1rem;
}

table {
  width: 100%;
  
  th {
    white-space: nowrap;
  }
  
  .column-published-year {
    min-width: 4rem;
    width: 1%;
    max-width: 4rem;
    text-align: center;
    white-space: nowrap;
  }
  
  .column-title {
    min-width: 15rem;
    width: 15%;
  }
  
  .column-scenario,
  .column-review {
    min-width: 20rem;
    width: 25%;
  }
  
  .column-casts,
  .column-staffs,
  .column-tags {
    min-width: 10rem;
    width: 10%;
  }
  
  td {
    --line-height: 1.2;
    
    padding: .2rem .25rem;
    font-size: .8rem;
    line-height: var(--line-height);
    word-break: break-all;
  }
  
  td.column-published-year {
    font-size: .95rem;
  }
  
  td.column-title {
    line-height: 1.3;
    
    .film-title {
      font-size: .95rem;
    }
    
    .japanese-title {
      color: var(--nn-colour-grey-700);
      font-size: .85rem;
    }
  }
  
  .role {
    color: var(--nn-colour-grey-600);
  }
  
  .not-found {
    padding: 1rem .5rem;
    text-align: center;
  }
}

.overflow {
  max-height: calc(1em * 5 * var(--line-height));
  overflow-y: auto;
}
