<!-- モーダル表示時は操作させないように非表示にする・*ngIf だとフォーム部品が初期化されてしまうので [hidden] を使う -->
<app-search-form [hidden]="currentState === 'modal'" [isDisabled]="isDisabled()" (onSubmit)="onSearch($event)"></app-search-form>

<p class="text-info"   *ngIf="currentState === 'loading'"  >読込中…</p>
<p class="text-info"   *ngIf="currentState === 'searching'">検索中…</p>
<p class="text-bold"   *ngIf="currentState === '' || currentState === 'loaded' || currentState === 'searched'">Films</p>
<p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th class="column-published-year">公開年</th>
        <th class="column-title"   >原題・邦題</th>
        <th class="column-scenario">あらすじ</th>
        <th class="column-review"  >感想</th>
        <th class="column-casts">キャスト</th>
        <th class="column-staffs">スタッフ</th>
        <th class="column-tags">タグ</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="films.length > 0; else notFound">
        <tr *ngFor="let film of films; let i = index">
          <td class="column-published-year">{{ film.publishedYear }}</td>
          <td class="column-title">
            {{ film.title }}<br>
            <span class="japanese-title" *ngIf="film.japaneseTitle">{{ film.japaneseTitle }}</span>
          </td>
          <td class="column-scenario">
            <ng-container *ngIf="film.scenario; else noScenario">{{ film.scenario }}</ng-container>
            <ng-template #noScenario>-</ng-template>
          </td>
          <td class="column-review">
            <ng-container *ngIf="film.review; else noReview">{{ film.review }}</ng-container>
            <ng-template #noReview>-</ng-template>
          </td>
          <td class="column-casts">
            <ng-container *ngIf="film.casts.length; else noCasts">
              <ng-container *ngFor="let cast of film.casts; let i = index; let l = count">
                {{ cast.name }} <span class="role">({{ cast.role }})</span>
                <ng-container *ngIf="i !== l - 1">、</ng-container>
              </ng-container>
            </ng-container>
            <ng-template #noCasts>-</ng-template>
          </td>
          <td class="column-staffs">
            <ng-container *ngIf="film.staffs.length; else noStaffs">
              <ng-container *ngFor="let staff of film.staffs; let i = index; let l = count">
                {{ staff.name }} <span class="role">({{ staff.role }})</span>
                <ng-container *ngIf="i !== l - 1">、</ng-container>
              </ng-container>
            </ng-container>
            <ng-template #noStaffs>-</ng-template>
          </td>
          <td class="column-tags">
            <ng-container *ngIf="film.tags.length; else noTags">
              <ng-container *ngFor="let tag of film.tags; let i = index; let l = count">
                {{ tag.name }}
                <ng-container *ngIf="i !== l - 1">、</ng-container>
              </ng-container>
            </ng-container>
            <ng-template #noTags>-</ng-template>
          </td>
        </tr>
      </ng-container>
      
      <ng-template #notFound>
        <tr>
          <td colspan="6" class="text-warning not-found">
            <ng-container *ngIf="currentState === 'loading'   || currentState === 'loaded'"  >1件も映画が登録されていません</ng-container>
            <ng-container *ngIf="currentState === 'searching' || currentState === 'searched'">条件に合致する映画はありません</ng-container>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
