.controllers {
  min-height: 4rem;  // フォームと文字列どちらが表示されても高さをズラさないようにする・margin-bottom は付けないがイイカンジにスペースが開いている
  
  .controllers-container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    
    :first-child {
      overflow-x: auto;
    }
    
    form {
      margin: 0;
      white-space: nowrap;
      
      & > *:not(:last-child) {
        margin-right: .5rem;
      }
      
      select {
        border: 1px solid var(--nn-colour-grey-400);
        border-radius: var(--nn-border-radius-default);
        padding: calc(var(--nn-space-tiny) / var(--nn-ratio-2)) var(--nn-space-tiny);
        background: transparent;
        cursor: pointer;
      }
      
      input[type="text"] {
        min-width: 15rem;
        
        // バリデーションエラー時
        &.ng-invalid.ng-dirty,
        &.ng-invalid.ng-touched {
          border-color: var(--nn-colour-red);
        }
      }
    }
  }
}

table {
  .column-published-year,
  .column-operation {
    min-width: 4.5rem;
    width: 1%;
    max-width: 4.5rem;
    
    input[type="text"] {
      text-align: center;
    }
    
    .button-meta,
    .button-update {
      display: inline-block;
      width: 50%;
    }
    
    .button-create {
      display: inline-block;
      width: 100%;
    }
  }
  
  .column-title {
    min-width: 12rem;
    width: 15%;
  }
  
  .column-japanese-title {
    min-width: 10rem;
    width: 15%;
  }
  
  .column-scenario,
  .column-review {
    min-width: 15rem;
    width: 30%;
  }
}

.modal-wrapper {
  position: fixed;  // 画面全体がスクロールしても固定する
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, .5);
  
  .modal-container {
    overflow-y: auto;
    height: 100%;
    border-radius: 6px;
    padding: 1rem;
    background: var(--nn-colour-white);
  }
}
