<div class="controllers">
  <div [hidden]="editingFilmId != null">  <!-- モーダル表示時は操作させないように非表示にする -->
    <div [hidden]="isLoading || isSubmitting || errorMessage">
      <div class="controllers-container">  <!-- display: grid を指定しており [hidden] に勝ってしまうので入れ子にする -->
        <form [formGroup]="searchForm" *ngIf="searchForm">
          <select formControlName="targetColumn" (change)="onChangeSearchTargetColumn()">
            <option *ngFor="let searchTargetColumn of searchTargetColumns" [ngValue]="searchTargetColumn.value">{{ searchTargetColumn.name }}</option>
          </select>
          <select formControlName="publishedAge" (change)="onChangeSearchPublishedAge()" *ngIf="searchForm.controls.targetColumn.value === 'published_age'">
            <option *ngFor="let searchPublishedAge of searchPublishedAges" [ngValue]="searchPublishedAge.age">{{ searchPublishedAge.age }} 年代</option>
          </select>
          <input type="text" formControlName="searchText" placeholder="検索文字列" [hidden]="searchForm.controls.targetColumn.value === 'published_age'">
          <button type="button" (click)="onSearch()" [disabled]="searchForm.invalid || isInvalidPublishedYear()">検索</button>
        </form>
        <div><button type="button" (click)="onLoad()">Reload</button></div>
      </div>
    </div>
    <div [hidden]="!isLoading"                 class="info-message" >読込中…          </div>
    <div [hidden]="isLoading || !isSubmitting" class="info-message" >更新中…          </div>
    <div [hidden]="isLoading || !errorMessage" class="error-message">{{ errorMessage }}</div>  <!-- TODO : 検索フォームは出しっぱなしにしたい -->
  </div>
</div>

<form [formGroup]="filmsForm" class="table-wrapper" *ngIf="!isLoading">
  <table class="form-table" [hidden]="editingFilmId != null">  <!-- モーダル表示時は表を操作させないように非表示にする -->
    <thead>
      <tr>
        <th class="column-published-year">公開年</th>
        <th class="column-title"         >原題</th>
        <th class="column-japanese-title">邦題</th>
        <th class="column-scenario"      >あらすじ</th>
        <th class="column-review"        >感想</th>
        <th class="column-operation"     >操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-container formArrayName="films">
        <tr *ngFor="let film of films.controls; let i = index" [formGroupName]="i" class="edit-row">
          <td class="column-published-year"><input type="text" formControlName="publishedYear" placeholder="公開年"   (blur)="onUpdate(film)" required minlength="4" maxlength="4" pattern="^[1-9][0-9]{3}$"></td>
          <td class="column-title"         ><input type="text" formControlName="title"         placeholder="原題"     (blur)="onUpdate(film)" required                                                      ></td>
          <td class="column-japanese-title"><input type="text" formControlName="japaneseTitle" placeholder="邦題"     (blur)="onUpdate(film)"                                                               ></td>
          <td class="column-scenario"      ><input type="text" formControlName="scenario"      placeholder="あらすじ" (blur)="onUpdate(film)"                                                               ></td>
          <td class="column-review"        ><input type="text" formControlName="review"        placeholder="感想"     (blur)="onUpdate(film)"                                                               ></td>
          <td class="column-operation"     >
            <button type="button" title="詳細" class="button-meta"   (click)="onStartEditMeta(film)" [disabled]="isSubmitting || editingFilmId != null"        >→</button>
            <button type="button" title="更新" class="button-update" (click)="onUpdate(film)"        [disabled]="film.pristine || film.invalid || isSubmitting">○</button>
          </td>
        </tr>
      </ng-container>
      <tr formGroupName="newFilm">
        <td class="column-published-year"><input type="text" formControlName="publishedYear" placeholder="公開年"   required minlength="4" maxlength="4" pattern="^[1-9][0-9]{3}$"></td>
        <td class="column-title"         ><input type="text" formControlName="title"         placeholder="原題"     required                                                      ></td>
        <td class="column-japanese-title"><input type="text" formControlName="japaneseTitle" placeholder="邦題"                                                                   ></td>
        <td class="column-scenario"      ><input type="text" formControlName="scenario"      placeholder="あらすじ"                                                               ></td>
        <td class="column-review"        ><input type="text" formControlName="review"        placeholder="感想"                                                                   ></td>
        <td class="column-operation"     ><button type="button" title="登録" class="button-create" (click)="onCreate()" [disabled]="filmsForm.controls.newFilm.invalid || isSubmitting">登録</button></td>
      </tr>
    </tbody>
  </table>
</form>

<div class="modal-wrapper" *ngIf="editingFilmId != null">
  <div class="modal-container">
    <app-film-meta [filmId]="editingFilmId" (onClosed)="onEndEditMeta()"></app-film-meta>
  </div>
</div>
