<div class="grid-2-columns">
  <div>
    <div class="text-info"    *ngIf="isLoading">読込中…</div>
    <div class="text-info"    *ngIf="!isLoading && isSubmitting">更新中…</div>  <!-- 下部でも出してる -->
    <div class="text-bold"    *ngIf="!isLoading && !isSubmitting && !isConfirmedToClose">Edit Film Meta</div>
    <div class="text-warning" *ngIf="!isLoading && !isSubmitting && isConfirmedToClose" >変更を破棄しますか？</div>
  </div>
  <div>
    <button type="button" class="cancel-button" *ngIf="isConfirmedToClose" [disabled]="isLoading || isSubmitting" (click)="isConfirmedToClose = false">Cancel</button>
    <button type="button"                                                  [disabled]="isLoading || isSubmitting" (click)="onClose()">{{ isConfirmedToClose ? 'Yes Close' : 'Close' }}</button>
  </div>
</div>

<form *ngIf="filmMetaForm" [formGroup]="filmMetaForm">
  <dl>
    <dt>公開年・原題<ng-container *ngIf="film.japaneseTitle">・邦題</ng-container></dt>
    <dd>{{ film.publishedYear }}年 : {{ film.title }}<ng-container *ngIf="film.japaneseTitle"> {{ film.japaneseTitle }}</ng-container></dd>
    <dt>あらすじ</dt>
    <dd>
      <ng-container *ngIf="film.scenario; else noScenario">{{ film.scenario }}</ng-container>
      <ng-template #noScenario>-</ng-template>
    </dd>
    <dt>感想</dt>
    <dd>
      <ng-container *ngIf="film.review; else noReview">{{ film.review }}</ng-container>
      <ng-template #noReview>-</ng-template>
    </dd>
  </dl>
  
  <div class="table-wrapper">
    <table class="form-table">
      <caption>キャスト</caption>
      <thead>
        <tr>
          <th class="column-order"    >No</th>
          <th class="column-role"     >役名</th>
          <th class="column-name"     >名前</th>
          <th class="column-operation">操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="casts">
          <tr class="edit-row" *ngFor="let cast of casts.controls; let i = index; let l = count" [formGroupName]="i">
            <td class="column-order"    ><input type="text" placeholder="順序" formControlName="order" required readonly tabindex="-1"></td>
            <td class="column-role"     ><input type="text" placeholder="役名" formControlName="role"  required></td>
            <td class="column-name"     ><input type="text" placeholder="名前" formControlName="name"  required></td>
            <td class="column-operation">
              <div class="grid-3-columns">
                <button type="button" title="上へ" [disabled]="isSubmitting || i === 0"     (click)="onUpCast(i)"    >↑</button>
                <button type="button" title="下へ" [disabled]="isSubmitting || i === l - 1" (click)="onDownCast(i)"  >↓</button>
                <button type="button" title="削除" [disabled]="isSubmitting"                (click)="onRemoveCast(i)">×</button>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr formGroupName="newCast">
          <td class="column-order"    >-</td>
          <td class="column-role"     ><input type="text" placeholder="役名" formControlName="role" required></td>
          <td class="column-name"     ><input type="text" placeholder="名前" formControlName="name" required></td>
          <td class="column-operation"><button type="button" [disabled]="filmMetaForm.controls.newCast.invalid || isSubmitting" (click)="onAddNewCast()">追加</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="table-wrapper">
    <table class="form-table">
      <caption>スタッフ</caption>
      <thead>
        <tr>
          <th class="column-order"    >No</th>
          <th class="column-role"     >役職名</th>
          <th class="column-name"     >名前</th>
          <th class="column-operation">操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="staffs">
          <tr class="edit-row" *ngFor="let staff of staffs.controls; let i = index; let l = count" [formGroupName]="i">
            <td class="column-order"    ><input type="text" placeholder="順序"   formControlName="order" required readonly tabindex="-1"></td>
            <td class="column-role"     ><input type="text" placeholder="役職名" formControlName="role"  required></td>
            <td class="column-name"     ><input type="text" placeholder="名前"   formControlName="name"  required></td>
            <td class="column-operation">
              <div class="grid-3-columns">
                <button type="button" title="上へ" [disabled]="isSubmitting || i === 0"     (click)="onUpStaff(i)"    >↑</button>
                <button type="button" title="下へ" [disabled]="isSubmitting || i === l - 1" (click)="onDownStaff(i)"  >↓</button>
                <button type="button" title="削除" [disabled]="isSubmitting"                (click)="onRemoveStaff(i)">×</button>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr formGroupName="newStaff">
          <td class="column-order"    >-</td>
          <td class="column-role"     ><input type="text" placeholder="役職名" formControlName="role" required></td>
          <td class="column-name"     ><input type="text" placeholder="名前"   formControlName="name" required></td>
          <td class="column-operation"><button type="button" [disabled]="filmMetaForm.controls.newStaff.invalid || isSubmitting" (click)="onAddNewStaff()">追加</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="table-wrapper">
    <table class="form-table">
      <caption>タグ</caption>
      <thead>
        <tr>
          <th class="column-order"    >No</th>
          <th class="column-name"     >タグ名</th>
          <th class="column-operation">操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="tags">
          <tr class="edit-row" *ngFor="let tag of tags.controls; let i = index; let l = count" [formGroupName]="i">
            <td class="column-order"    ><input type="text" placeholder="順序"   formControlName="order" required readonly tabindex="-1"></td>
            <td class="column-name"     ><input type="text" placeholder="タグ名" formControlName="name"  required></td>
            <td class="column-operation">
              <div class="grid-3-columns">
                <button type="button" title="上へ" [disabled]="isSubmitting || i === 0"     (click)="onUpTag(i)"    >↑</button>
                <button type="button" title="下へ" [disabled]="isSubmitting || i === l - 1" (click)="onDownTag(i)"  >↓</button>
                <button type="button" title="削除" [disabled]="isSubmitting"                (click)="onRemoveTag(i)">×</button>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr formGroupName="newTag">
          <td class="column-order"    >-</td>
          <td class="column-name"     ><input type="text" placeholder="タグ名" formControlName="name" required></td>
          <td class="column-operation"><button type="button" [disabled]="filmMetaForm.controls.newTag.invalid || isSubmitting" (click)="onAddNewTag()">追加</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<div class="grid-2-columns footer-controllers">
  <div>
    <div class="text-info"   *ngIf="!isLoading && isSubmitting">更新中…</div>
    <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
  <div>
    <button type="button" [disabled]="isLoading || isSubmitting || isDisabledUpdateButton()" (click)="onUpdate()">更新</button>
  </div>
</div>
