.cancel-button {
  margin-right: 1rem;
}

form {
  margin: 0;
}

dl {
  margin-top: 1rem;
  
  dt {
    margin: 0;
  }
  
  dd {
    margin-top: 0;
    margin-bottom: .5rem;
  }
}

table {
  caption {
    text-align: left;
  }
  
  .column-order {
    min-width: 3rem;
    width: 1%;
    max-width: 3rem;
    
    // order : readonly にしてあるので操作させないようにする
    input[type="text"] {
      text-align: right;
      cursor: default;
      pointer-events: none;
    }
  }
  
  .column-role {
    min-width: 10rem;
    width: 20%;
  }
  
  .column-name {
    min-width: 15rem;
    width: 80%;
  }
  
  .column-operation {
    min-width: 7rem;
    width: 1%;
    max-width: 7rem;
    
    button {
      width: 100%;
    }
  }
}

.footer-controllers {
  margin-top: var(--nn-space-default);
}
